html {
	scroll-behavior: smooth;
}

.triangle-right {
	width: 0;
	height: 0;
	top: 1/2;
	border-top: 25px solid transparent;
	border-left: 50px solid #323ea0;
	border-bottom: 25px solid transparent;
	margin-bottom: 20px;
}

.about_me {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: calc(1.2em * 10);
}

@media (min-width: 781px) {
	.about_me {
		white-space: normal;
		max-height: none;
		overflow: visible;
		text-overflow: initial;
	}
}

#hero {
    position: relative;
    height: 100vh;
    background: url('1.jpg') center/cover no-repeat;
    animation: changeImage 32s infinite;
}

@keyframes changeImage {
    0%, 100% {
        background-image: url('1.jpg');
    }
    12.5% {
        background-image: url('2.jpg');
    }
    25% {
        background-image: url('3.jpg');
    }
    37.5% {
        background-image: url('4.jpg');
    }
    50% {
        background-image: url('5.webp');
    }
    62.5% {
        background-image: url('6.jpg');
    }
    75% {
        background-image: url('7.jpg');
    }
    87.5% {
        background-image: url('8.jpg');
    }
}
